@model Categories
@{
    ViewData["Title"] = "Update";
}

<div class="row">
    <div class="col-md-6">
        <form method="post" asp-controller="Category" asp-action="Update">
            <div class="mb-4">
                <label for="Name" class="form-label">Name</label>
                <input autocomplete="off" asp-for="Name" name="Name" id="name" type="text" class="form-control" />
            </div>
            <div class="mb-4">
                <label for="Logo" class="form-label">Logo</label>
                <input name="Logo" asp-for="Logo" id="Logo" type="text" class="form-control" />
            </div>

            <div class="d-grid">
                <button class="btn btn-primary" type="submit">Update category</button>
            </div>
        </form>
    </div>
</div>